---
import BaseLayout from '../layouts/BaseLayout.astro';
import CesiumApp from '../components/CesiumApp.astro';
---
<BaseLayout title="Simulasi Banjir 3D - Fitur">
  <main>
    <CesiumApp client:load />
  </main>
</BaseLayout>